* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.vl1{
    background-color: #f9c1b1 ;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vl1:hover{
    color: white;
}

.vl2{
    background-color: #6a9395;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vl2:hover{
    color: white;
}

.vl3{
    background-color: #8c737c;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vl3:hover{
    color: white;
}

.vl4{
    background-color: #fbe7e1;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vl4:hover{
    color: white;
}

.vl5{
    background-color: #f4f2df;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vl5:hover{
    color: white;
}