* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.tl1{
    background-color: #fa7541 ;
    width: 100%;
    height: 100%;
    color: transparent;
}

.tl1:hover{
    color: white;
}

.tl2{
    background-color: #ffad16;
    width: 100%;
    height: 100%;
    color: transparent;
}

.tl2:hover{
    color: white;
}

.tl3{
    background-color: #2cffc0;
    width: 100%;
    height: 100%;
    color: transparent;
}

.tl3:hover{
    color: white;
}

.tl4{
    background-color: #19f0ff;
    width: 100%;
    height: 100%;
    color: transparent;
}

.tl4:hover{
    color: white;
}

.tl5{
    background-color: #4062fc;
    width: 100%;
    height: 100%;
    color: transparent;
}

.tl5:hover{
    color: white;
}