* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.mol1{
    background-color: #da6f3a;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mol1:hover{
    color: white;
}

.mol2{
    background-color: #e29543;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mol2:hover{
    color: white;
}

.mol3{
    background-color: #508192;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mol3:hover{
    color: white;
}

.mol4{
    background-color: #aaaaaa;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mol4:hover{
    color: white;
}

.mol5{
    background-color: #2d76a0;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mol5:hover{
    color: white;
}