* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.vd1{
    background-color: #535a39;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd1:hover{
    color: white;
}

.vd2{
    background-color: #443c36;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd2:hover{
    color: white;
}

.vd3{
    background-color: #465f57;
    width: 100%;
    height: 100%;
    color: transparent; 
}

.vd3:hover{
    color: white;
}

.vd4{
    background-color: #58372f;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd4:hover{
    color: white;
}

.vd5{
    background-color: #6e6d54;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd5:hover{
    color: white;
}