* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.vd1{
    background-color: #5D534A;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd1:hover{
    color: white;
}

.vd2{
    background-color: #6a9395;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd2:hover{
    color: white;
}

.vd3{
    background-color: #8c737c;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd3:hover{
    color: white;
}

.vd4{
    background-color: #fbe7e1;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd4:hover{
    color: white;
}

.vd5{
    background-color: #f4f2df;
    width: 100%;
    height: 100%;
    color: transparent;
}

.vd5:hover{
    color: white;
}