* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.pl1{
    background-color: #ffc8b3 ;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pl1:hover{
    color: white;
}

.pl2{
    background-color: #c3edff;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pl2:hover{
    color: white;
}

.pl3{
    background-color: #ffe1ed;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pl3:hover{
    color: white;
}

.pl4{
    background-color: #d2fada;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pl4:hover{
    color: white;
}

.pl5{
    background-color: #dde4fd;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pl5:hover{
    color: white;
}