* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.pd1{
    background-color: #b99c9a ;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pd1:hover{
    color: white;
}

.pd2{
    background-color: #c0aba1;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pd2:hover{
    color: white;
}

.pd3{
    background-color: #d4c9ab;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pd3:hover{
    color: white;
}

.pd4{
    background-color: #8aa8a3;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pd4:hover{
    color: white;
}

.pd5{
    background-color: #748d97;
    width: 100%;
    height: 100%;
    color: transparent;
}

.pd5:hover{
    color: white;
}