* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.mid1{
    background-color: #52514E;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mid1:hover{
    color: white;
}

.mid2{
    background-color: #2c343a;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mid2:hover{
    color: white;
}

.mid3{
    background-color: #383838;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mid3:hover{
    color: white;
}

.mid4{
    background-color: #5e6150;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mid4:hover{
    color: white;
}

.mid5{
    background-color: #4c584d;
    width: 100%;
    height: 100%;
    color: transparent;
}

.mid5:hover{
    color: white;
}