.page{
	height: 100vh;
}

.block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 100px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}


.light{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
}

.light:hover + .page{
	color: black;
	border-color: black;
	background-color: whitesmoke;
}

.dark{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 55px;
	padding-right: 55px;
	text-decoration: none;
}

.dark:hover + .page{
	color: white;
	border-color: white;
	background-color: black;
}

.col{
	display:flex;
	justify-content: center;
	padding-top: 131px;
}