* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.ned1{
    background-color: #d30000 ;
    width: 100%;
    height: 100%;
    color: transparent;
}

.ned1:hover{
    color: white;
}

.ned2{
    background-color: #00bb09;
    width: 100%;
    height: 100%;
    color: transparent;
}

.ned2:hover{
    color: white;
}

.ned3{
    background-color: #0014ca;
    width: 100%;
    height: 100%;
    color: transparent;
}

.ned3:hover{
    color: white;
}

.ned4{
    background-color: #7400c2;
    width: 100%;
    height: 100%;
    color: transparent;
}

.ned4:hover{
    color: white;
}

.ned5{
    background-color: #b3007d;
    width: 100%;
    height: 100%;
    color: transparent;
}

.ned5:hover{
    color: white;
}