.block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 100px;
}

.light{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 45px;
	padding-right: 45px;
	text-decoration: none;
	color: rgb(29, 92, 92);
}

.dark{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 50px;
	padding-right: 50px;
	text-decoration: none;
	color: rgb(29, 92, 92);
}
