.intro-block{
  background-color: white;
  height: 400px;
}

.title {
  font-size: 90px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 160px;
  font-weight: 500;
}
  
  .title span:nth-child(10n + 1) {
  color: #f790cc;
  font-weight: 500;
  }
  
  .title span:nth-child(10n + 2) {
  color: #0044ff;
  font-weight: 500;
  }
  
  .title span:nth-child(10n + 3){
  color: #ff2929;
  font-weight: 500;
  }
  
  .title span:nth-child(10n + 5){
  color: #00b900;
  font-weight: 500;
  }
  
  .title span:nth-child(10n + 4) {
  color: #ff9900;
  font-weight: 500;
  }
  
  .title span:nth-child(10n + 6){
  color: #b300b3;
  font-weight: 500;
  }

  .title{
    color: rgb(135, 145, 172);
    font-weight: 550;
  }

.text{
  color: rgb(73, 73, 73);
  font-size: 20px;
  font-family: 'pt sans';
  letter-spacing: 5px;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.back{
  display:flex;
  justify-content: center;
  padding-bottom: 50px;
}

.background{
  max-width: 500px;
}

.start-block{
  display:flex;
  justify-content: center;
}

.themes{
  color: rgb(135, 145, 172);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  border-style: solid;
  border-color:rgb(135, 145, 172);
  border-width: 5px;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.themes:hover{
  color: rgb(73, 73, 73);
  border-color:rgb(73, 73, 73);
  
}