.header{
	text-align: center;
	padding-top: 130px;
	font-size: 20px;

}

.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 50px;
}

.elegant{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.minimal{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.modern{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.nature{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 50px;
}

.neon{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.pastel{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.tropical{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.vintage{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}