.header{
	font-size: 45px;
	font-family: 'pt sans';	
	text-align: center;
	padding-top: 150px;
	color:rgb(73, 73, 73);
}

.top{
    font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 60px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}

.elegant{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 23px;
	padding-right: 23px;
	text-decoration: none;
}

.elegant:hover{
	color: rgb(219, 182, 114);
	border-color: rgb(219, 182, 114);
}

.minimal{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
}

.minimal:hover{
	color: rgb(161, 161, 161);
	border-color: rgb(161, 161, 161);
}

.modern{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 25px;
	padding-right: 25px;
	text-decoration: none;
}

.modern:hover{
	color: rgb(83, 141, 145);
	border-color: rgb(83, 141, 145);
}

.nature{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 32px;
	padding-right: 32px;
	text-decoration: none;
}

.nature:hover{
	color: rgb(156,175,136);
	border-color: rgb(156,175,136);
}

.bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 60px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}

.neon{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 54px;
	padding-right: 54px;
	text-decoration: none;
}

.neon:hover{
	color: rgb(200, 238, 63);
	border-color: rgb(200, 238, 63);
}

.pastel{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 38px;
	padding-right: 38px;
	text-decoration: none;
}

.pastel:hover{
	color: rgb(248, 166, 155);
	border-color: rgb(248, 166, 155);
}

.tropical{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 13px;
	padding-right: 13px;
	text-decoration: none;
}

.tropical:hover{
	color: rgb(243, 128, 52);
	border-color: rgb(243, 128, 52);
}

.vintage{
	color: rgb(73, 73, 73);
	border-style: solid;
	border-color:rgb(73, 73, 73);
	padding-block: 10px;
	padding-left: 27px;
	padding-right: 27px;
	text-decoration: none;
}

.vintage:hover{
	color: rgb(138, 115, 82);
	border-color: rgb(138, 115, 82);
}

.rim{
  display:flex;
  justify-content: center;
  padding-top: 50px;
}