.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 10px;
}

.bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 10px;
}