.block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    font-size: 15px;
	padding-left: 170px;
	padding-right: 170px;
	padding-top: 50px;
}

.light{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}

.dark{
	border-style: solid;
	border-color:rgb(29, 92, 92);
	padding-left: 12px;
	padding-right: 12px;
	text-decoration: none;
}
