* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.td1{
    background-color: #059629;
    width: 100%;
    height: 100%;
    color: transparent;
}

.td1:hover{
    color: white;
}

.td2{
    background-color: #28089c;
    width: 100%;
    height: 100%;
    color: transparent;
}

.td2:hover{
    color: white;
}

.td3{
    background-color: #c26904;
    width: 100%;
    height: 100%;
    color: transparent;
}

.td3:hover{
    color: white;
}

.td4{
    background-color: #ad005f;
    width: 100%;
    height: 100%;
    color: transparent;
}

.td4:hover{
    color: white;
}

.td5{
    background-color: #01919b;
    width: 100%;
    height: 100%;
    color: transparent;
}

.td5:hover{
    color: white;
}