* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.colours{
    display: flex;
    grid-auto-flow: column;
    height: 100vh;
    text-align: center;
    line-height: 670px;
    font-size: 17px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.nal1{
    background-color: #9fc497;
    width: 100%;
    height: 100%;
    color: transparent;
}

.nal1:hover{
    color: white;
}

.nal2{
    background-color: #b9ac95;
    width: 100%;
    height: 100%;
    color: transparent;
}

.nal2:hover{
    color: white;
}

.nal3{
    background-color: #b3c298;
    width: 100%;
    height: 100%;
    color: transparent;
}

.nal3:hover{
    color: white;
}

.nal4{
    background-color: #a1b493;
    width: 100%;
    height: 100%;
    color: transparent;
}

.nal4:hover{
    color: white;
}

.nal5{
    background-color: #acac8b;
    width: 100%;
    height: 100%;
    color: transparent;
}

.nal5:hover{
    color: white;
}